/* ==UserStyle==
@name           Bulme & TU Moodle Dark Theme
@description    So gut wie vollständiges Dark Theme verschiende Moodle Instanzen
@namespace      dereisl
@author         dereisl
@version        1.2.0
@homepageURL    https://github.com/dereisl/oeapp/blob/master/bulme/dark-theme/moodle_dark_theme.user.css
@updateURL      https://raw.githubusercontent.com/dereisl/oeapp/master/bulme/dark-theme/moodle_dark_theme.user.css

@preprocessor uso

@var color fgMain "Main Text Color" #fff
@var color fgMainHov "Main Text Hover Color" #aaa
@var color fgLink "Link Colour" #7289da
@var color fgLinkHov "Link Hover Color" #495ca1
@var color fgLinkBright "Brighter Link Colour" #c7d3ff

@var select fgIconOverrideColor "Override Icon Colour" {
  "Enabled": "var(--fgIconOverrideColor)",
  "Disabled": "unset"
}
@var color fgIconOverrideColorSelection "Override Icon Colour" #ffffff

@var color bgPage "Page Background" #23272A
@var color bgBlock "Block Background" #2C2F33
@var color bgCourseCard "Course Card Background" #23272A
@var color bgBtn "Button Background" #60656a
@var color bgBtnHov "Button Hover Background" #4b5458
@var color bgActive "Active Item Background" #1177d1
@var color bgInpDis "Disabled Input Background" #4c4c4c
@var color bgNavBar "Navigation Bar Background" #1b1b1b99

@var color bdMain "Border Color" #ffffff55

@var color bgSubmitted "Background: Submission submitted" #353
@var color bgNotGraded "Background: Submission not graded" #404040
@var color bgGraded "Background: Submission graded" #353

@var color bgAlertInfo "Background: Info Alert" #577077
@var color bgAlertDanger "Background: Danger Alert" #6d4747

@var color bgQuizFormulation "Background: Quiz Formulation" #435256
@var color bgQuizOutcome "Background: Quiz Outcome/Comment" #4b463d
@var color bgQuizAnswerSpecificFeedback "Background: Quiz Answer Specific Feedback" #70694b

@var color bgCalendarEvSite "Background: Calendar Site Event" #506c49
@var color bgCalendarEvCategory "Background: Calendar Category Event" #6d4d6d
@var color bgCalendarEvCourse "Background: Calendar Course Event" #6d4f40
@var color bgCalendarEvGroup "Background: Calendar Group Event" #806d41
@var color bgCalendarEvUser "Background: Calendar User Event" #3b545f

@var color bgMessageSent "Background: Chat messages from yourself" #181a1d

@var select invertTextEditor "Invert text editor" {
  "Enabled": "",
  "Disabled": "unimportant"
}

==/UserStyle== */
@-moz-document domain("moodle.bulme.at"),
domain("tc.tugraz.at") {
  :root {
    --fgMain: /*[[fgMain]]*/;
    --fgMainHov: /*[[fgMainHov]]*/;
    --fgLink: /*[[fgLink]]*/;
    --fgLinkHov: /*[[fgLinkHov]]*/;
    --fgLinkBright: /*[[fgLinkBright]]*/;

    --bgPage: /*[[bgPage]]*/;
    --bgBlock: /*[[bgBlock]]*/;
    --bgCourseCard: /*[[bgCourseCard]]*/;
    --bgBtn: /*[[bgBtn]]*/;
    --bgBtnHov: /*[[bgBtnHov]]*/;
    --bgActive: /*[[bgActive]]*/;
    --bgInpDis: /*[[bgInpDis]]*/;
    --bgNavBar: /*[[bgNavBar]]*/;

    --bdMain: /*[[bdMain]]*/;

    --bgSubmitted: /*[[bgSubmitted]]*/;
    --bgNotGraded: /*[[bgNotGraded]]*/;
    --bgGraded: /*[[bgGraded]]*/;

    --bgAlertInfo: /*[[bgAlertInfo]]*/;
    --bgAlertDanger: /*[[bgAlertDanger]]*/;

    --bgQuizFormulation: /*[[bgQuizFormulation]]*/;
    --bgQuizOutcome: /*[[bgQuizOutcome]]*/;
    --bgQuizAnswerSpecificFeedback: /*[[bgQuizAnswerSpecificFeedback]]*/;

    --bgCalendarEvSite: /*[[bgCalendarEvSite]]*/;
    --bgCalendarEvCategory: /*[[bgCalendarEvCategory]]*/;
    --bgCalendarEvCourse: /*[[bgCalendarEvCourse]]*/;
    --bgCalendarEvGroup: /*[[bgCalendarEvGroup]]*/;
    --bgCalendarEvUser: /*[[bgCalendarEvUser]]*/;

    --bgMessageSent: /*[[bgMessageSent]]*/;

    --fgIconOverrideColor: /*[[fgIconOverrideColorSelection]]*/;
  }

  /* Body */
  body {
    color: var(--fgMain);
  }

  html,
  body,
  #page-my-index {
    background-color: var(--bgPage);
  }

  /* Basic Elements & Form Inputs */
  .border {
    border-color: var(--bdMain) !important;
  }

  a,
  /* 2nd theme */
  a:visited {
    color: var(--fgLink);
  }

  a:hover,
  a:focus,
  /* 2nd theme */
  a:not([class]):focus {
    color: var(--fgLinkHov);
  }

  pre {
    color: var(--fgMain);
  }

  .text-dark {
    color: var(--fgMainHov) !important;
  }

  /* Block ellipsis button */
  .btn,
  a.btn,
  button {
    background: none;
    color: var(--fgMain);
  }

  .btn-secondary,
  .btn-default,
  .btn-secondary:hover,
  .btn-default:hover,
  /* 2nd theme */
  .btn-outline-secondary {
    border-color: transparent;
    color: var(--fgMain);
    background-color: var(--bgBtn);
  }

  .btn-secondary:hover,
  .btn-default:hover {
    background-color: var(--bgBtnHov);
  }

  /* 2nd theme */
  .btn.btn-icon:hover,
  .btn.btn-icon:focus {
    background-color: var(--bgBtn);
  }

  .btn-outline-secondary {
    border-color: var(--bdMain);
  }

  .yui3-button {
    color: var(--fgMain);
    background: var(--bgBtn);
  }

  .yui3-button:hover {
    background: var(--bgBtnHov);
  }

  .dropdown-menu,
  .form-autocomplete-suggestions {
    border-color: var(--bdMain);
    background-color: var(--bgPage);
  }

  .dropdown-item,
  .dropdown-item:visited,
  .form-autocomplete-suggestions li {
    color: var(--fgMain);
  }

  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item[aria-current="true"],
  .page-item.active .page-link {
    background-color: var(--bgActive);
    border-color: var(--bgActive);
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: var(--fgMain);
    background-color: var(--bgBtn);
  }

  .page-link,
  .page-item.disabled .page-link {
    border-color: var(--bdMain);
    color: var(--fgLinkBright);
    background-color: var(--bgBtn);
  }

  .page-item.disabled .page-link {
    color: var(--fgMainHov);
  }

  .block .block-controls .dropdown-toggle {
    color: var(--fgMain);
  }

  .form-control,
  .form-control:focus,
  .custom-select {
    border-color: var(--bdMain);
    color: var(--fgMain);
    background-color: var(--bgPage);
  }

  .form-control:disabled,
  .form-control[readonly],
  .custom-select:disabled {
    background-color: var(--bgInpDis);
  }

  td.selected {
    background-color: var(--bgAlertInfo);
  }

  input[type=radio][disabled] {
    filter: invert(1) brightness(10);
  }

  /* Navbar */
  .navbar-bootswatch,
  /* 2nd theme */
  #navbar.bg-white {
    transition: background-color .2s;
    background-color: var(--bgNavBar) !important;
  }

  .navbar-bootswatch:hover,
  /* 2nd theme */
  #navbar.bg-white:hover {
    background-color: var(--bgBlock) !important;
  }

  .navbar-light .navbar-brand,
  .navbar-bootswatch .navbar-brand,
  .navbar-light .navbar-nav .nav-link,
  .navbar-bootswatch .navbar-nav .nav-link,
  /* 2nd theme */
  .navbar-light .navbar-nav .nav-item .nav-link {
    color: var(--fgMain);
  }

  .navbar-light .navbar-brand:hover,
  .navbar-bootswatch .navbar-brand:hover,
  .navbar-light .navbar-brand:focus,
  .navbar-bootswatch .navbar-brand:focus,
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-bootswatch .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-bootswatch .navbar-nav .nav-link:focus,
  .navbar-bootswatch .navbar-nav .show > .nav-link {
    color: var(--fgMainHov);
  }

  .logo {
    filter: grayscale(100%) brightness(2000%);
  }

  /* Site alerts */
  .popover-region-container,
  .popover-region-footer-container {
    border-color: var(--bdMain);
    background-color: var(--bgPage);
  }

  .popover-region-toggle::before {
    border-bottom-color: var(--bdMain);
  }

  .popover-region-toggle::after {
    border-bottom-color: var(--bgPage);
  }

  .content-item-container.unread {
    background-color: var(--bgBlock);
  }

  .content-item-container:hover,
  .content-item-container.unread:hover {
    background-color: var(--bgBtnHov);
  }

  .content-item-container.selected {
    background-color: var(--bgBtn);
  }

  .content-item-container .content-item-footer .timestamp {
    color: var(--fgMainHov);
  }

  /* Messages / Chat */
  .message-app {
    background-color: var(--bgBlock) !important;
  }

  .message-app .input-group-text {
    border-color: var(--bdMain);
  }

  .message-app .list-group-item {
    background-color: var(--bgPage);
  }

  .message-app .list-group-item-action:hover,
  .message-app .list-group-item-action:focus {
    color: var(--fgMain);
    background-color: var(--bgBlock);
  }

  .message-app .bg-white {
    background-color: var(--bgPage) !important;
  }

  .message-app .bg-light {
    background-color: var(--bgBlock) !important;
  }

  .message-app .day {
    color: var(--fgMain);
  }

  .message-app .message.send {
    background-color: var(--bgMessageSent) !important;
    /* 2nd theme */
    color: var(--fgMain);
  }

  .message-app .message.send .time {
    color: var(--fgMainHov);
  }

  .message-app .message.send .tail {
    border-bottom-color: var(--bgMessageSent);
  }

  .message-app .message.received .tail {
    border-bottom-color: var(--bgPage);
  }

  .message-app .btn.btn-link.btn-icon:hover,
  .message-app .btn.btn-link.btn-icon:focus {
    background-color: var(--bgBtn);
  }

  .message-app .dropdown-menu {
    color: var(--fgMain);
  }

  .message-app .footer-container textarea {
    background-color: var(--bgPage) !important;
  }

  /* Cards and blocks */
  .card,
  .userprofile .profile_tree section {
    border-color: var(--bdMain);
    background-color: var(--bgBlock);
  }

  .dashboard-card {
    background-color: var(--bgCourseCard);
  }

  /* Course card, list and description progress bar */
  .card-footer.bg-white,
  #region-main .list-group-item .bg-white,
  .block .block-cards .course-summaryitem .bg-white {
    background-color: var(--bgCourseCard) !important;
  }

  .card-footer .progress.bg-white.border {
    background-color: var(--bgPage) !important;
  }

  /* Course cards on dashboard */
  /* Darken generated covers */
  .card-img.dashboard-card-img[style^='background-image: url("'],
  .block .block-cards .course-summaryitem .summaryimage.rounded-circle[style^='background-image: url("'] {
    filter: brightness(50%);
    transition: filter .2s;
  }

  .card-img.dashboard-card-img[style^='background-image: url("']:hover,
  .block .block-cards .course-summaryitem .summaryimage.rounded-circle[style^='background-image: url("']:hover {
    filter: brightness(100%);
  }

  /* Course list on dashboard */
  #region-main .list-group-item {
    border-color: var(--bdMain);
    background-color: var(--bgCourseCard);
  }

  /* Course descriptions on dashboard */
  .block .block-cards .course-summaryitem {
    border-color: var(--bdMain);
    background-color: var(--bgCourseCard);
  }

  /* Course */
  #region-main {
    border-color: var(--bdMain);
    background-color: var(--bgPage);
  }
  
  /* Forcefully fix text that was manually set to black */
  li.activity.label span[style='color: rgb(0, 0, 0);'] {
    color: var(--fgMain) !important;
  }

  /* Abgabestatus: abgegeben */
  .path-mod-assign td.submissionstatussubmitted,
  .path-mod-assign div.submissionstatussubmitted,
  .path-mod-assign a:link.submissionstatussubmitted {
    color: var(--fgMain);
    background-color: var(--bgSubmitted);
  }

  /* Bewertungsstatus: nicht bewertet */
  .path-mod-assign td.submissionnotgraded,
  .path-mod-assign div.submissionnotgraded {
    color: var(--fgMain);
    background-color: var(--bgNotGraded);
  }

  /* Bewertungsstatus: Bewertet */
  .path-mod-assign td.submissiongraded,
  .path-mod-assign div.submissiongraded {
    color: var(--fgMain);
    background-color: var(--bgGraded);
  }

  /* Verbleibende Zeit: Aufgabe wurde ... vor dem Abgabeende abgegeben */
  .path-mod-assign td.earlysubmission,
  .path-mod-assign div.earlysubmission {
    color: var(--fgMain);
    background-color: var(--bgSubmitted);
  }

  /* Grading table */
  .gradingform_rubric .criterion.even {
    background-color: var(--bgPage);
  }

  .gradingform_rubric .criterion .levels .level.checked {
    background-color: var(--bgGraded);
  }

  .gradingform_rubric .criterion .levels .level.checked .score {
    filter: brightness(2);
  }

  .comment-area textarea {
    color: var(--fgMain) !important;
    background-color: var(--bgPage);
  }

  /* Workshop (Peer-Assessment) Table */
  .path-mod-workshop .userplan dd {
    background-color: var(--bgBlock);
  }

  .path-mod-workshop .userplan,
  .path-mod-workshop .userplan dd,
  .path-mod-workshop .userplan dt {
    border-color: var(--bdMain);
  }

  .path-mod-workshop .userplan dt.active,
  .path-mod-workshop .userplan dd.active {
    border-color: var(--bdMain);
    color: var(--fgMain);
    background-color: var(--bgGraded);
  }

  .path-mod-workshop .submission-summary .userdate,
  .path-mod-workshop .submission-full .header .userdate {
    color: var(--fgMainHov);
  }

  .path-mod-workshop .submission-full .header,
  .path-mod-workshop .assessment-full .header {
    background-color: var(--bgBlock);
  }

  .path-mod-workshop #workshop-viewlet-yourgrades .finalgrades .grade.submissiongrade {
    background-color: var(--bgAlertInfo);
  }

  .path-mod-workshop #workshop-viewlet-yourgrades .finalgrades .grade.assessmentgrade {
    background-color: var(--bgBtn);
  }

  /* Quizzes */
  .que .info {
    background-color: var(--bgBtn);
  }

  .que .formulation {
    color: var(--fgMain);
    background-color: var(--bgQuizFormulation);
  }

  .path-mod-quiz #mod_quiz_navblock .qnbutton {
    background-color: var(--bgPage);
  }

  .que.multichoice .answer .specificfeedback,
  .que.multianswer .feedbackspan {
    background-color: var(--bgQuizAnswerSpecificFeedback);
  }

  .que .outcome,
  .que .comment {
    color: var(--fgMain);
    background-color: var(--bgQuizOutcome);
  }

  table.quizreviewsummary th.cell {
    background-color: var(--bgBlock);
  }

  table.quizreviewsummary td.cell {
    background-color: var(--bgPage);
  }

  /* Quiz Navigation */
  .path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight,
  .path-mod-quiz #mod_quiz_navblock .qnbutton.invalidanswer .trafficlight {
    background-color: var(--bgPage);
  }

  /* Quiz attempts table */
  #page-mod-quiz-view table.quizattemptsummary tr.bestrow td {
    background-color: var(--bgAlertInfo);
  }

  table.quizattemptsummary .noreviewmessage {
    color: var(--fgMainHov);
  }

  /* Questionaire */
  .qn-info {
    background-color: var(--bgBtn);
  }

  .qn-question,
  #page-mod-questionnaire-complete .raterow:hover,
  #page-mod-questionnaire-preview .raterow:hover {
    background-color: var(--bgQuizFormulation);
  }

  #page-mod-questionnaire-complete .c0,
  #page-mod-questionnaire-preview .c0,
  #page-mod-questionnaire-print .c0,
  #page-mod-questionnaire-report .individual .c0,
  #page-mod-questionnaire-myreport .individual .c0 {
    background-color: var(--bgPage);
  }

  #page-mod-questionnaire-complete .c1,
  #page-mod-questionnaire-preview .c1,
  #page-mod-questionnaire-print .c1,
  #page-mod-questionnaire-report .individual .c1,
  #page-mod-questionnaire-myreport .individual .c1 {
    background-color: var(--bgBlock);
  }

  /* Checklist Progress Bar */
  .checklist_progress_outer {
    border-color: var(--bdMain);
    box-shadow: none;
  }

  ol.checklist .itemblack {
    color: var(--fgMain);
  }

  /* Checklist Progress Icon */
  img[src$='/theme/image.php/classic/checklist/1604486711/icon'] {
    filter: invert(1) hue-rotate(-180deg);
  }

  /* Course Progress Bar Indicator */
  img.icon.nowicon[src$='/theme/image.php/classic/block_completion_progress/1604486711/right'] {
    filter: invert(1);
  }

  /* Pdf Feedback Viewer */
  .path-mod-assign-feedback-pdf .yui3-button.menubutton:hover {
    background-color: var(--bgBtnHov);
  }

  .path-mod-assign-feedback-pdf .dropmenu {
    background-color: var(--bgPage);
  }

  .path-mod-assign-feedback-pdf .dropmenu li:hover {
    background-color: var(--bgBtnHov);
  }

  .path-mod-assign-feedback-pdf .comment {
    color: black;
  }

  #prevpage2,
  #nextpage2 {
    color: var(--fgMain);
    background-color: var(--bgBtn);
  }

  /* Discussions and Announcements */
  .discussion .btn {
    background: none;
    color: var(--fgMain);
  }

  /* File Manager */
  .dndupload-arrow {
    background-image: url(http://samherbert.net/svg-loaders/svg-loaders/rings.svg);
  }

  .file-picker .fp-content {
    background-color: var(--bgPage);
  }

  .file-picker .ygtvfocus {
    background-color: var(--bgBlock);
  }

  .fp-pathbar > .fp-path-folder {
    filter: invert(1);
  }

  .fp-pathbar > .fp-path-folder > * {
    filter: invert(1);
  }

  .fp-iconview .fp-thumbnail {
    border: none;
  }

  .fp-iconview .fp-thumbnail img {
    border-color: var(--bdMain);
  }

  .fp-iconview .fp-filename-field .fp-filename {
    background: none;
  }

  .yui3-skin-sam .yui3-datatable-header,
  .filemanager .yui3-datatable-header {
    text-shadow: none;
    color: var(--fgMain) !important;
    background: var(--bgPage) !important;
  }

  .yui3-skin-sam .yui3-datatable-even .yui3-datatable-cell,
  .filemanager .yui3-datatable-even .yui3-datatable-cell {
    background-color: var(--bgPage) !important;
  }

  .yui3-skin-sam .yui3-datatable-odd .yui3-datatable-cell,
  .filemanager .yui3-datatable-odd .yui3-datatable-cell {
    background-color: var(--bgBlock) !important;
  }

  .yui3-datatable-sort-indicator {
    filter: invert(1);
  }

  .fp-select .fp-thumbnail {
    border-color: var(--bdMain);
    background: none;
  }

  .fp-select .fp-thumbnail img {
    border-color: var(--bdMain);
  }

  .filemanager .ygtvfocus,
  .ygtvfocus {
    background-color: var(--bgPage);
  }

  /* Dialogs */
  .close,
  .moodle-dialogue-base .closebutton {
    color: var(--fgMain);
    text-shadow: none;
  }

  .alert-info {
    color: var(--fgMain);
    background-color: var(--bgAlertInfo);
  }

  .alert-danger {
    color: var(--fgMain);
    background-color: var(--bgAlertDanger);
  }

  /* Modals */
  .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    color: var(--fgMain);
  }

  .modal-content,
  .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content {
    background-color: var(--bgPage);
  }

  .moodle-dialogue-base button.closebutton {
    background-image: none;
    background-color: var(--bgBtn);
  }

  .nav-tabs .nav-link.active {
    border-bottom-color: transparent;
    color: var(--fgMain);
    background-color: var(--bgPage);
  }

  /* Popover */
  .popover,
  .hover-tooltip-container .hover-tooltip {
    border-color: var(--bdMain);
    background-color: var(--bgPage);
  }

  .popover-header {
    background-color: var(--bgBlock);
  }

  .popover-body {
    color: var(--fgMain);
  }

  .bs-popover-right .arrow::after {
    border-right-color: var(--bdMain);
  }

  /* Calendar */
  .block .minicalendar td a,
  .calendar_filters span > i {
    color: var(--fgLinkBright);
  }

  .path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_site,
  .path-calendar .maincalendar .calendarmonth ul li .calendar-circle.calendar_event_site,
  .calendar_event_site {
    background-color: var(--bgCalendarEvSite);
  }

  .path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_category,
  .path-calendar .maincalendar .calendarmonth ul li .calendar-circle.calendar_event_category,
  .calendar_event_category {
    background-color: var(--bgCalendarEvCategory);
  }

  .path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_course,
  .path-calendar .maincalendar .calendarmonth ul li .calendar-circle.calendar_event_course,
  .calendar_event_course {
    background-color: var(--bgCalendarEvCourse);
  }

  .path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_group,
  .path-calendar .maincalendar .calendarmonth ul li .calendar-circle.calendar_event_group,
  .calendar_event_group {
    background-color: var(--bgCalendarEvGroup);
  }

  .path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_user,
  .path-calendar .maincalendar .calendarmonth ul li .calendar-circle.calendar_event_user,
  .calendar_event_user {
    background-color: var(--bgCalendarEvUser);
  }

  /* TinyMCE Text Editor */
  .moodleSkin td.mceToolbar,
  .moodleSkin td.mceStatusbar {
    background-color: var(--bgBlock);
  }

  .moodleSkin .mceToolbar td + td {
    background-color: var(--bgPage);
  }

  .moodleSkin a.mceButtonEnabled:hover {
    background: var(--bgBtn);
  }

  .moodleSkin a.mceButtonActive {
    background: var(--bgBtnHov);
  }

  .moodleSkin .mceListBox .mceText {
    color: var(--fgMain);
    background-color: var(--bgPage);
  }

  .moodleSkin table.mceListBoxEnabled:hover .mceText,
  .moodleSkin .mceListBoxHover .mceText,
  .moodleSkin .mceListBoxSelected .mceText {
    background: transparent;
  }

  .moodleSkin table.mceListBoxEnabled:hover .mceOpen,
  .moodleSkin .mceListBoxHover .mceOpen,
  .moodleSkin .mceListBoxSelected .mceOpen {
    filter: invert(1);
  }

  .moodleSkin td.mceStatusbar * {
    color: var(--fgMain) !important;
  }

  .mceIframeContainer > iframe {
    /*[[invertTextEditor]]*/
    filter: invert(1) contrast(0.8);
  }

  /* Atto Text Editor */
  div.editor_atto_toolbar {
    background-color: var(--bgBlock);
  }

  div.editor_atto_toolbar div.atto_group {
    background-color: var(--bgPage);
  }

  .editor_atto_toolbar button:hover {
    background: var(--bgBtn);
  }

  .editor_atto_toolbar button:active,
  .editor_atto_toolbar button.highlight {
    background: var(--bgBtnHov);
  }

  div.editor_atto_toolbar button .icon {
    color: var(--fgMainHov);
  }

  .editor_atto_content_wrap {
    background: none;
  }

  /* Marklar Text Editor */
  .marklar-wrapper {
    background-color: var(--bgBlock);
  }

  .marklar-wrapper > .marklar-textarea {
    background-color: var(--bgPage) !important;
  }

  .marklar-syntax-help,
  .marklar-preview {
    background-color: var(--bgPage);
  }

  /* Loading indicators */
  .overlay-icon-container {
    background-color: rgba(255, 255, 255, .1);
  }

  @keyframes bg-pulse-grey {
    0% {
      background-color: var(--bgPage);
    }
    50% {
      background-color: var(--bgBlock);
      ;
    }
    100% {
      background-color: var(--bgPage);
    }
  }

  /* Footer */
  #page-footer {
    background-color: var(--bgNavBar);
  }

  #page-footer a {
    color: var(--fgLink);
  }

  /* Misc */
  /* Timeline */
  .block-timeline .list-group-item {
    background-color: var(--bgBlock);
  }

  .block-timeline .list-group-item .list-group-item-action {
    color: var(--fgMain);
  }

  .block-timeline .list-group-item .list-group-item-action:hover,
  .block-timeline .list-group-item .list-group-item-action:focus {
    background-color: var(--bgPage);
  }

  /* Table on Fälligkeit für anstehende Aktivitäten */
  .table-info {
    background-color: var(--bgAlertInfo);
  }

  /* Table in System Notification Settings */
  .preferences-container .preference-table tr th:nth-child(even),
  .preferences-container .preference-table tr td:nth-child(even) {
    background-color: var(--bgBlock);
  }

  /* Grid box */
  #gridshadebox_content {
    border-color: var(--bgAlertDanger);
    background-color: var(--bgPage);
  }

  /* Front page table */
  #region-main td[style*='background-color: #d8def2;'] {
    background-color: #31374b !important;
  }

  #region-main td[style*='background-color: #f5f5dc;'] {
    background-color: #383824 !important;
  }

  #region-main td[style*='background-color: #daecda;'] {
    background-color: #2b362b !important;
  }

  /******************************************************************
  
                    SECOND THEME ONLY
  
  *******************************************************************/
  /* Navbar */
  .navbar-light .navbar-nav .nav-item.navbar-usermenu {
    border-left-color: var(--fgMain);
  }

  /* Site title below navbar */
  a.site-name {
    color: var(--fgMain);
  }

  /* Site logo below navbar */
  #headline #platform-logo {
    filter: invert(1) hue-rotate(195deg);
  }

  /* Sidebar */
  [data-region="drawer"] {
    background-color: var(--bgBlock);
  }

  /* Sidebar navigation buttons */
  #nav-drawer .list-group-item {
    color: var(--fgMain);
    background-color: var(--bgBtn);
  }

  #nav-drawer .list-group-item.active {
    background-color: var(--bgBtnHov);
  }

  /* Buttons */
  .btn-outline-secondary:not(:disabled):not(.disabled):active,
  .btn-outline-secondary:not(:disabled):not(.disabled).active,
  .show > .btn-outline-secondary.dropdown-toggle {
    border: none;
  }

  /* Icons */
  .icon,
  [data-region="popover-region-messages"] a.nav-link i,
  [data-region="popover-region-messages"] a.nav-link i:hover,
  .coursesync-card a:hover:not(.dropdown-toggle):not(.popover-region-toggle) i.icon,
  .coursesync-card a:focus:not(.dropdown-toggle):not(.popover-region-toggle) i.icon,
  .coursesync-card .active .icon,
  .filemanager .btn.btn-secondary > i.icon,
  #navigation .breadcrumb_custom li:first-child::before {
    color: /*[[fgIconOverrideColor]]*/;
  }

  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/assign/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/mod_assign/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/url/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/choice/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/feedback/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/quiz/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/choicegroup/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/folder/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/page/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/forum/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/mod_forum/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/scheduler/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/book/"][src$="/icon"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/core/"][src$="/f/archive-24"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/core/"][src$="/f/text-24"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/core/"][src$="/f/pdf-24"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/core/"][src$="/f/jpeg-24"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/core/"][src$="/f/document-24"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/core/"][src$="/f/sourcecode-24"],
  img[src^="https://tc.tugraz.at/main/theme/image.php/tug/core/"][src$="/f/powerpoint-24"] {
    filter: invert(1);
  }

  .drawer-toggle button #drawer-toggle-icon-open path,
  .drawer-toggle button #drawer-toggle-icon-close path {
    stroke: var(--fgMain) !important;
  }

  /* Table */
  .table,
  .generaltable,
  .generaltable:hover {
    color: unset;
  }

  .generaltable tbody tr:hover {
    color: var(--fgMainHov);
  }

  /* Filter */
  .filter-group.bg-light,
  .filter-group .bg-white {
    background-color: var(--bgBlock) !important;
  }

  .filter-group .btn {
    border-color: transparent;
    color: var(--fgMain);
    background-color: var(--bgBtn);
  }

  /* Course Accordion */
  .accordion .card-header {
    background: var(--bgBtn) !important;
  }

  .accordion .card-header .btn {
    color: var(--fgMain) !important;
  }

  /* Search */
  .simplesearchform .btn-submit {
    background-color: var(--bgBtn);
  }

  /* Messages */
  [data-region="right-hand-drawer"] button:hover,
  [data-region="right-hand-drawer"] button:focus,
  [data-region="message-index"] button:hover,
  [data-region="message-index"] button:focus {
    color: var(--fgMain);
  }

  .message-app .list-group-item-action {
    color: var(--fgMain);
  }

  [data-region="right-hand-drawer"] a:hover:not(.dropdown-toggle):not(.popover-region-toggle) i.icon,
  [data-region="right-hand-drawer"] a:focus:not(.dropdown-toggle):not(.popover-region-toggle) i.icon,
  [data-region="right-hand-drawer"] .active .icon,
  [data-region="message-index"] a:hover:not(.dropdown-toggle):not(.popover-region-toggle) i.icon,
  [data-region="message-index"] a:focus:not(.dropdown-toggle):not(.popover-region-toggle) i.icon,
  [data-region="message-index"] .active .icon {
    color: var(--fgMain);
  }

  [data-region="right-hand-drawer"] [data-route="view-contacts"] i.icon:hover,
  [data-region="right-hand-drawer"] [data-route="view-contacts"] i.icon:focus,
  [data-region="right-hand-drawer"] [data-route="view-settings"] i.icon:hover,
  [data-region="right-hand-drawer"] [data-route="view-settings"] i.icon:focus,
  [data-region="right-hand-drawer"] [data-action="closedrawer"] i.icon:hover,
  [data-region="right-hand-drawer"] [data-action="closedrawer"] i.icon:focus,
  [data-region="message-index"] [data-route="view-contacts"] i.icon:hover,
  [data-region="message-index"] [data-route="view-contacts"] i.icon:focus,
  [data-region="message-index"] [data-route="view-settings"] i.icon:hover,
  [data-region="message-index"] [data-route="view-settings"] i.icon:focus,
  [data-region="message-index"] [data-action="closedrawer"] i.icon:hover,
  [data-region="message-index"] [data-action="closedrawer"] i.icon:focus {
    color: var(--fgMain) !important;
  }
}

@-moz-document url-prefix("https://moodle.bulme.at/lib/editor/tinymce/") {
  body {
    color: initial;
    background: initial;
  }
}
