/* ==UserStyle==
@name           Bulme Moodle Dark Theme
@description    So gut wie vollständiges Dark Theme für Bulme Moodle
@namespace      dereisl
@author         dereisl
@version        1.0.0
@homepageURL    https://ö.app/bulme/dark-theme/
@updateURL      https://raw.githubusercontent.com/dereisl/oeapp/master/bulme/dark-theme/moodle_dark_theme.user.css

@preprocessor uso

@var color fgMain "Main Text Color" #fff
@var color fgMainHov "Main Text Hover Color" #aaa
@var color fgLink "Link Colour" #7289da
@var color fgLinkHov "Link Hover Color" #6279d0
@var color fgLinkBright "Brighter Link Colour" #c7d3ff

@var color bgPage "Page Background" #23272A
@var color bgBlock "Block Background" #2C2F33
@var color bgCourseCard "Course Card Background" #23272A
@var color bgBtn "Button Background" #60656a
@var color bgBtnHov "Button Hover Background" #4b5458
@var color bgInpDis "Disabled Input Background" #4c4c4c

@var color bdMain "Border Color" #ffffff55

@var color bgSubmitted "Background: Submission submitted" #353
@var color bgNotGraded "Background: Submission not graded" #404040
@var color bgGraded "Background: Submission graded" #353

@var color bgAlertInfo "Background: Info Alert" #577077
@var color bgAlertDanger "Background: Danger Alert" #6d4747

@var color bgCalendarEvSite "Background: Calendar Site Event" #506c49
@var color bgCalendarEvCategory "Background: Calendar Category Event" #6d4d6d
@var color bgCalendarEvCourse "Background: Calendar Course Event" #6d4f40
@var color bgCalendarEvGroup "Background: Calendar Group Event" #806d41
@var color bgCalendarEvUser "Background: Calendar User Event" #3b545f

@var color bgMessageSent "Background: Chat messages from yourself" #181a1d

@var select invertTextEditor "Invert text editor" {
  "Enabled": "",
  "Disabled": "unimportant"
}

==/UserStyle== */
@-moz-document domain("moodle.bulme.at") {
  :root {
    --fgMain: /*[[fgMain]]*/;
    --fgMainHov: /*[[fgMainHov]]*/;
    --fgLink: /*[[fgLink]]*/;
    --fgLinkHov: /*[[fgLinkHov]]*/;
    --fgLinkBright: /*[[fgLinkBright]]*/;

    --bgPage: /*[[bgPage]]*/;
    --bgBlock: /*[[bgBlock]]*/;
    --bgCourseCard: /*[[bgCourseCard]]*/;
    --bgBtn: /*[[bgBtn]]*/;
    --bgBtnHov: /*[[bgBtnHov]]*/;
    --bgInpDis: /*[[bgInpDis]]*/;

    --bdMain: /*[[bdMain]]*/;

    --bgSubmitted: /*[[bgSubmitted]]*/;
    --bgNotGraded: /*[[bgNotGraded]]*/;
    --bgGraded: /*[[bgGraded]]*/;

    --bgAlertInfo: /*[[bgAlertInfo]]*/;
    --bgAlertDanger: /*[[bgAlertDanger]]*/;

    --bgCalendarEvSite: /*[[bgCalendarEvSite]]*/;
    --bgCalendarEvCategory: /*[[bgCalendarEvCategory]]*/;
    --bgCalendarEvCourse: /*[[bgCalendarEvCourse]]*/;
    --bgCalendarEvGroup: /*[[bgCalendarEvGroup]]*/;
    --bgCalendarEvUser: /*[[bgCalendarEvUser]]*/;

    --bgMessageSent: /*[[bgMessageSent]]*/;
  }


  /* Body */
  body {
    color: var(--fgMain);
  }

  body,
  #page-my-index {
    background-color: var(--bgPage);
  }

  /* Basic Elements & Form Inputs */
  .border {
    border-color: var(--bdMain) !important;
  }

  a {
    color: var(--fgLink);
  }

  a:hover,
  a:focus {
    color: var(--fgLinkHov);
  }

  .btn-secondary,
  .btn-default,
  .btn-secondary:hover,
  .btn-default:hover {
    border-color: transparent;
    color: var(--fgMain);
    background-color: var(--bgBtn);
  }

  .btn-secondary:hover,
  .btn-default:hover {
    background-color: var(--bgBtnHov);
  }

  .btn-outline-secondary {
    border-color: var(--bdMain);
  }

  .dropdown-menu {
    border-color: var(--bdMain);
    background-color: var(--bgPage);
  }

  .dropdown-item {
    color: var(--fgMain);
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    background-color: var(--bgBtn);
  }

  .page-link,
  .page-item.disabled .page-link {
    border-color: var(--bdMain);
    color: var(--fgLinkBright);
    background-color: var(--bgBtn);
  }

  .page-item.disabled .page-link {
    color: var(--fgMainHov);
  }

  .block .block-controls .dropdown-toggle {
    color: var(--fgMain);
  }

  .form-control,
  .form-control:focus,
  .custom-select {
    border-color: var(--bdMain);
    color: var(--fgMain);
    background-color: var(--bgPage);
  }

  .form-control:disabled,
  .form-control[readonly],
  .custom-select:disabled {
    background-color: var(--bgInpDis);
  }

  /* Navbar */
  .navbar-bootswatch {
    background-color: var(--bgBlock);
  }

  .navbar-light .navbar-brand,
  .navbar-bootswatch .navbar-brand,
  .navbar-light .navbar-nav .nav-link,
  .navbar-bootswatch .navbar-nav .nav-link {
    color: var(--fgMain);
  }

  .navbar-light .navbar-brand:hover,
  .navbar-bootswatch .navbar-brand:hover,
  .navbar-light .navbar-brand:focus,
  .navbar-bootswatch .navbar-brand:focus,
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-bootswatch .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-bootswatch .navbar-nav .nav-link:focus {
    color: var(--fgMainHov);
  }

  .logo {
    filter: grayscale(100%) brightness(2000%);
  }

  /* Site alerts */
  .popover-region-container,
  .popover-region-footer-container {
    border-color: var(--bdMain);
    background-color: var(--bgPage);
  }

  .popover-region-toggle::before {
    border-bottom-color: var(--bdMain);
  }

  .popover-region-toggle::after {
    border-bottom-color: var(--bgPage);
  }

  /* Messages / Chat */
  .message-app.bg-light {
    background-color: var(--bgBlock) !important;
  }

  .message-app .input-group-text {
    border-color: var(--bdMain);
  }

  .message-app .list-group-item {
    background-color: var(--bgPage);
  }

  .message-app .list-group-item-action:hover,
  .message-app .list-group-item-action:focus {
    color: var(--fgMain);
    background-color: var(--bgBlock);
  }

  .message-app .bg-white {
    background-color: var(--bgPage) !important;
  }

  .message-app .bg-light {
    background-color: var(--bgBlock) !important;
  }

  .message-app .bg-secondary {
    background-color: var(--bgMessageSent) !important;
  }

  .message-app .message.received .tail {
    border-bottom-color: var(--bgPage);
  }

  .message-app .message.send .tail {
    border-bottom-color: var(--bgMessageSent);
  }

  .message-app .btn.btn-link.btn-icon:hover,
  .message-app .btn.btn-link.btn-icon:focus {
    background-color: var(--bgBtn);
  }

  #conversation-actions-menu {
    color: var(--fgMain);
  }

  .message-app .footer-container textarea {
    background-color: var(--bgPage) !important;
  }

  /* Cards and blocks */
  .card,
  .userprofile .profile_tree section {
    border-color: var(--bdMain);
    background-color: var(--bgBlock);
  }

  .dashboard-card {
    background-color: var(--bgCourseCard);
  }

  /* Course card progress bar */
  .card-footer.bg-white {
    background-color: var(--bgCourseCard) !important;
  }

  .card-footer .progress.bg-white.border {
    background-color: var(--bgPage) !important;
  }

  /* Block ellipsis button */
  .block .block-cards .btn.btn-link.btn-icon:hover {
    background-color: var(--bgBtn);
  }

  /* Course Cards on Dashboard */
  /* Darken generated covers */
  .card-img.dashboard-card-img[style^='background-image: url("'] {
    filter: brightness(50%);
    transition: filter .2s;
  }

  .card-img.dashboard-card-img[style^='background-image: url("']:hover {
    filter: brightness(100%);
  }

  /* Course */
  #region-main {
    border-color: var(--bdMain);
    background-color: var(--bgPage);
  }

  /* Abgabestatus: abgegeben */
  .path-mod-assign td.submissionstatussubmitted,
  .path-mod-assign div.submissionstatussubmitted,
  .path-mod-assign a:link.submissionstatussubmitted {
    color: var(--fgMain);
    background-color: var(--bgSubmitted);
  }

  /* Bewertungsstatus: nicht bewertet */
  .path-mod-assign td.submissionnotgraded,
  .path-mod-assign div.submissionnotgraded {
    color: var(--fgMain);
    background-color: var(--bgNotGraded);
  }

  /* Bewertungsstatus: Bewertet */
  .path-mod-assign td.submissiongraded,
  .path-mod-assign div.submissiongraded {
    color: var(--fgMain);
    background-color: var(--bgGraded);
  }

  /* Verbleibende Zeit: Aufgabe wurde ... vor dem Abgabeende abgegeben */
  .path-mod-assign td.earlysubmission,
  .path-mod-assign div.earlysubmission {
    color: var(--fgMain);
    background-color: var(--bgSubmitted);
  }

  /* Grading table */
  .gradingform_rubric .criterion.even {
    background-color: var(--bgPage);
  }

  .gradingform_rubric .criterion .levels .level.checked {
    background-color: var(--bgGraded);
  }

  .gradingform_rubric .criterion .levels .level.checked .score {
    filter: brightness(2);
  }

  /* File Manager */
  .dndupload-arrow {
    background-image: url(http://samherbert.net/svg-loaders/svg-loaders/rings.svg);
  }

  .file-picker .fp-content {
    background-color: var(--bgPage);
  }

  .file-picker .ygtvfocus {
    background-color: var(--bgBlock);
  }

  .fp-iconview .fp-thumbnail {
    border: none;
  }

  .fp-iconview .fp-thumbnail img {
    border-color: var(--bdMain);
  }

  .fp-iconview .fp-filename-field .fp-filename {
    background: none;
  }

  .yui3-skin-sam .yui3-datatable-header,
  .filemanager .yui3-datatable-header {
    text-shadow: none;
    color: var(--fgMain) !important;
    background: var(--bgPage) !important;
  }

  .yui3-skin-sam .yui3-datatable-even .yui3-datatable-cell,
  .filemanager .yui3-datatable-even .yui3-datatable-cell {
    background-color: var(--bgPage) !important;
  }

  .yui3-skin-sam .yui3-datatable-odd .yui3-datatable-cell,
  .filemanager .yui3-datatable-odd .yui3-datatable-cell {
    background-color: var(--bgBlock) !important;
  }

  .yui3-datatable-sort-indicator {
    filter: invert(1);
  }

  .fp-select .fp-thumbnail {
    border-color: var(--bdMain);
    background: none;
  }

  .fp-select .fp-thumbnail img {
    border-color: var(--bdMain);
  }

  .filemanager .ygtvfocus,
  .ygtvfocus {
    background-color: var(--bgPage);
  }

  /* Dialogs */
  .close,
  .moodle-dialogue-base .closebutton {
    color: var(--fgMain);
    text-shadow: none;
  }

  .alert-info {
    color: var(--fgMain);
    background-color: var(--bgAlertInfo);
  }

  .alert-danger {
    color: var(--fgMain);
    background-color: var(--bgAlertDanger);
  }

  /* Modals */
  .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    color: var(--fgMain);
  }

  .modal-content,
  .moodle-dialogue-base .moodle-dialogue-wrap.moodle-dialogue-content {
    background-color: var(--bgPage);
  }

  .moodle-dialogue-base button.closebutton {
    background-image: none;
    background-color: var(--bgBtn);
  }

  /* Popover */
  .popover,
  .hover-tooltip-container .hover-tooltip {
    border-color: var(--bdMain);
    background-color: var(--bgPage);
  }

  .popover-header {
    background-color: var(--bgBlock);
  }

  .popover-body {
    color: var(--fgMain);
  }

  .bs-popover-right .arrow::after {
    border-right-color: var(--bdMain);
  }

  /* Calendar */
  .block .minicalendar td a,
  .calendar_filters span > i {
    color: var(--fgLinkBright);
  }

  .path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_site,
  .calendar_event_site {
    background-color: var(--bgCalendarEvSite);
  }

  .path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_category,
  .calendar_event_category {
    background-color: var(--bgCalendarEvCategory);
  }

  .path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_course,
  .calendar_event_course {
    background-color: var(--bgCalendarEvCourse);
  }

  .path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_group,
  .calendar_event_group {
    background-color: var(--bgCalendarEvGroup);
  }

  .path-calendar .maincalendar .calendarmonth ul li .badge.badge-circle.calendar_event_user,
  .calendar_event_user {
    background-color: var(--bgCalendarEvUser);
  }

  /* Standard Text Editor */
  .moodleSkin td.mceToolbar,
  .moodleSkin td.mceStatusbar {
    background-color: var(--bgBlock);
  }

  .moodleSkin .mceToolbar td + td {
    background-color: var(--bgPage);
  }

  .moodleSkin a.mceButtonEnabled:hover {
    background: var(--bgBtn);
  }

  .moodleSkin a.mceButtonActive {
    background: var(--bgBtnHov);
  }

  .moodleSkin .mceListBox .mceText {
    color: var(--fgMain);
    background-color: var(--bgPage);
  }

  .moodleSkin table.mceListBoxEnabled:hover .mceText,
  .moodleSkin .mceListBoxHover .mceText,
  .moodleSkin .mceListBoxSelected .mceText {
    background: transparent;
  }

  .moodleSkin table.mceListBoxEnabled:hover .mceOpen,
  .moodleSkin .mceListBoxHover .mceOpen,
  .moodleSkin .mceListBoxSelected .mceOpen {
    filter: invert(1);
  }

  .moodleSkin td.mceStatusbar * {
    color: var(--fgMain) !important;
  }

  .mceIframeContainer > iframe#id_config_text_ifr {
    /*[[invertTextEditor]]*/filter: invert(1) contrast(0.8);
  }

  /* Loading indicators */
  .overlay-icon-container {
    background-color: rgba(255, 255, 255, .1);
  }

  @keyframes bg-pulse-grey {
    0% {
      background-color: var(--bgPage);
    }
    50% {
      background-color: var(--bgBlock);
      ;
    }
    100% {
      background-color: var(--bgPage);
    }
  }

  /* Misc */
  /* Timeline */
  .block-timeline .list-group-item {
    background-color: var(--bgPage);
  }

  /* Table on Fälligkeit für anstehende Aktivitäten */
  .table-info {
    background-color: var(--bgAlertInfo);
  }

  /* Table in System Notification Settings */
  .preferences-container .preference-table tr th:nth-child(even),
  .preferences-container .preference-table tr td:nth-child(even) {
    background-color: var(--bgBlock);
  }

  /* Grid box */
  #gridshadebox_content {
    border-color: var(--bgAlertDanger);
    background-color: var(--bgPage);
  }

  /* Front page table */
  #region-main td[style*='background-color: #d8def2;'] {
    background-color: #31374b !important;
  }

  #region-main td[style*='background-color: #f5f5dc;'] {
    background-color: #383824 !important;
  }

  #region-main td[style*='background-color: #daecda;'] {
    background-color: #2b362b !important;
  }
}

@-moz-document url-prefix("https://moodle.bulme.at/lib/editor/tinymce/") {
  body {
    color: initial;
    background: initial;
  }
}